@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(0, 0, 0);
  --bg-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(0, 0, 0);
  }
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}